.card {
	border-radius: var(--border-radius);
	background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	width: 394px;
	border: 1px solid var(--color-primary-gray);
}

.header {
	display: flex;
	padding: 10px 12px;
}

.title {
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	color: var(--color-dark-blue);
}

.content {
	max-height: 265px;
	overflow: scroll;
}
